########################################
#  Node / Vite
########################################
# Игнорируем все виртуалки и тяжёлые библиотеки
model/.pwenv/

node_modules/

*.log                     # npm logs
build/

########################################
#  Python & PyInstaller
########################################
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual‑envs
.venv/
env/
venv/

# PyInstaller build / dist
installer/build/
installer/dist/
# One‑file installer exe


########################################
#  Model checkpoints & large data
########################################
model/*.pth
model/.pwenv/
model/dataset/
# keep base_lstm.onnx / char_to_idx.json that ship with repo


########################################
#  User exports / test CSVs
########################################

########################################
#  Mac /
